<%- include('partials/header.ejs') -%>

<div class="px-4 py-1 my-2 text-center">
    <lord-icon
            src="https://cdn.lordicon.com/nocovwne.json"
            trigger="loop"
            delay="2000"
            colors="primary:#121331,secondary:#08a88a"
            style="width:250px;height:250px">
    </lord-icon>
    <input type="hidden" id="idStatus"  value="<%= datos.idStatus %>">
    <h1 class="display-5 fw-bold text-body-emphasis">Factura Nr: <%= idFactura.id %></h1>
    <div class="col-lg-6 mx-auto">
        <!--<p class="lead mb-4">Tu visión en manos expertas: Claridad y estilo a través de nuestras lentes. En Optica Naida , cuidamos de tu mirada con la más alta calidad y tendencias vanguardistas. Descubre una nueva perspectiva y atrévete a brillar con nuestros servicios personalizados.-->
        <br> ¡Vive la experiencia visual que mereces!</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarArmazon">
                Agregar Armazon
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarLunas">Agregar
                Lunas
            </button>

        </div>
    </div>
</div>



<div class="modal fade" id="agregarArmazon" tabindex="-1" aria-labelledby="agregarArmazon" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCliente">Agregar Armazon a Factura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/agregarArmazon" class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="nombreCliente" class="form-label">Marca Armazon</label>
                        <select class="form-control" name="idMarca" id="" required>
                            <option disabled selected value="">Elige una marca</option>
                            <% for (const marca of marcas) { %>
                                <option value="<%= marca.idMarca %>"><%= marca.nameMarca %></option>
                            <% } %>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="nombreCliente" class="form-label">Marca Armazon</label>
                        <select class="form-control" name="idTamano" id="" required>
                            <option value="">Selecciona un tamaño</option>
                            <% for (const tamano of tamanos) { %>
                                <option value="<%= tamano.idTamano %>"><%= tamano.tamano %></option>
                            <% } %>
                        </select>
                        <input type="hidden" name="idFactura" value="<%= idFactura.id %>"/>
                    </div>


                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="agregarLunas" tabindex="-1" aria-labelledby="agregarLunas" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCliente">Agregar Lunas a Factura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/agregarLuna" class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="nombreCliente" class="form-label">Tipo de Luna</label>
                        <select class="form-control" name="idTipoluna" id="" required>
                            <option disabled selected value="">Elige un tipo de Luna</option>
                            <% for (const tipolunas of tipoluna) { %>
                                <option value="<%= tipolunas.idTipoLuna %>"><%= tipolunas.nameTipoluna %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="idFactura" value="<%= idFactura.id %>"/>
                    </div>


                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="cerrarFactura" tabindex="-1" aria-labelledby="cerrarFactura" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="cerrarFactura">Cerrar Factura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <p style="text-align: center">¿Está seguro de cerrar la presente factura? Tenga en cuenta que una
                        vez haga clic en 'Aceptar', no podrá editar los valores ingresados. Confirme su elección y
                        asegúrese de revisar cuidadosamente la información antes de continuar.</p>
                </div>
                <form action="/cerrarFactura" method="post" novalidate>
                    <div class="mb-3">

                        <input type="hidden" name="idFactura" value="<%= idFactura.id %>"/>
                        <input id="totalFactura" type="hidden" name="totalFactura" value="">
                    </div>
                    <div class="mb-3" style="margin: 0 auto; text-align: center">
                        <button type="submit" class="btn btn-primary">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="datos">
    <div class="d-grid d-sm-flex justify-content-sm-center">
        <h3>Datos del cliente</h3>

    </div>
    <div class="d-grid d-sm-flex justify-content-sm-center">
        <h3><%= datos.Fecha %></h3>

    </div>
    <form id="datosCliente">

        <div class="mb-3">
            <label for="nameCliente" class="form-label">Nombre</label>
            <input type="text" class="form-control" value="<%= datos.nombreCliente %>" id="nameCliente" readonly>
        </div>
        <div class="mb-3">
            <label for="apellidoCliente" class="form-label">Apellido</label>
            <input type="text" class="form-control" value="<%= datos.apellidoCliente %>" id="apellidoCliente" readonly>
        </div>
        <div class="mb-3">
            <label for="cedulaCliente" class="form-label">Cedula/RUC</label>
            <input type="number" class="form-control" value="0<%= datos.cedulaCliente %>" id="cedulaCliente" readonly>
        </div>
        <div class="mb-3">
            <label for="telefonoCliente" class="form-label">Telefono</label>
            <input type="number" class="form-control" value="0<%= datos.telefonoCliente %>" id="telefonoCliente"
                   readonly>
        </div>

    </form>
</div>

<table class="table" id="tablaPrecios">
    <thead>
    <tr>
        <th scope="col">Item</th>
        <th scope="col">Modelo</th>
        <th scope="col">Talla</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Precio</th>
        <th class="btn" scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>

    <% if (armazon) { %>
        <!-- Si la data existe, muestra este div -->



        <% armazon.forEach(function(armazon) { %>
            <tr>
                <td><%= armazon.name %></td>
                <td><%= armazon.nameMarca %></td>
                <td><%= armazon.tamano %></td>
                <td><%= armazon.talla %></td>
                <td class="precio">$<%= armazon.precioArmazon %></td>
                <td>
                    <form action="/deleteItemArmazon" method="post">
                        <input type="hidden" name="idArmazon" value="<%= armazon.idArmazon %>">
                        <input type="hidden" name="idFactura" value="<%= idFactura.id %>">
                        <button type="submit" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </button>

                    </form>

                </td>
            </tr>
        <% }); %>

    <% }else { %>
        <!-- Si la data no existe, muestra este div -->
        <td colspan="5">Larry the Bird</td>

    <% } %>

    <% if (luna) { %>
        <!-- Si la data existe, muestra este div -->
        <% luna.forEach(function(luna) { %>
            <tr>
                <td><%= luna.name %></td>
                <td><%= luna.nameTipoluna %></td>
                <td>--</td>
                <td>--</td>
                <td class="precio">$<%= luna.precio %></td>
                <td>
                    <form action="/deleteItemLuna" method="post">
                        <input type="hidden" name="idLuna" value="<%= luna.idLuna %>">
                        <input type="hidden" name="idFactura" value="<%= idFactura.id %>">
                        <button type="submit" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5
a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg>
                        </button>

                    </form>

                </td>
            </tr>
        <% }); %>
    <% } else { %>
        <!-- Si la data no existe, muestra este div -->
        <div>Contenido cuando la data no existe</div>
    <% } %>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Subtotal</td>
        <td id="subtotal"></td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>IVA 12%</td>
        <td id="masIva"></td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total a Pagar</td>
        <td id="totalPagar"></td>

    </tr>

    </tbody>
</table>
<div class="container m-5 p-6" style="text-align: center">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cerrarFactura">Cerrar
        Factura
    </button>
</div>


<%- include('partials/footer.ejs') -%>


<style>
    table {
        width: 80% !important;
        margin: 0 auto;

    }

    #datosCliente {
        width: 50% !important;
        margin: 0 auto;
    }
</style>

<script>
    window.onload= function (){



        const precios = document.querySelectorAll('.precio');
        const subtotal = document.getElementById('subtotal');
        const subtotalMasIva = document.getElementById('masIva');
        const totalApagar = document.getElementById('totalPagar');
        const inputTotalFactura = document.getElementById('totalFactura');
        let sumaSubtotal = 0;
        let subTotalIva = 0;
        let totalpagar = 0;


        for (let i = 0; i < precios.length; i++) {
            let precioTexto = precios[i].innerHTML;
            let precioSinDolar = precioTexto.replace('$', ''); // Eliminar el carácter "$"
            let precioNumero = parseFloat(precioSinDolar); // Convertir el valor a número
            sumaSubtotal += precioNumero; // Sumar al total

        }
        subtotal.innerText = "$" + sumaSubtotal.toFixed(2);
        //console.log("Suma subTotal"+ sumaSubtotal);
        subTotalIvaDecimales = sumaSubtotal * 0.12;
        subTotalIva = subTotalIvaDecimales.toFixed(2);
        subtotalMasIva.innerText = "$" + subTotalIva;
        const sub = parseFloat(sumaSubtotal)
        const iva = parseFloat(subTotalIva)
        //console.log(sub+iva)
        totalpagar = sub + iva;
        totalApagar.innerText = "$" + totalpagar.toFixed(2);
        totalpagar=parseFloat(totalpagar.toFixed(2))
        //console.log(totalpagar)
        inputTotalFactura.value = parseFloat(totalpagar);


        //console.log(sumaSubtotal); // La suma total de los valores sin el carácter "$"
        const status= document.getElementById('idStatus');
        const Status= parseInt(status.value)
        //console.log(Status);



        const botonones= document.querySelectorAll('.btn');
        //console.log(botonones);
        if (Status == 2){
            for (let i = 0; i < botonones.length; i++) {
                botonones[i].style.display = "none";
            }
        }







    }


</script>